@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  html {
    font-family: 'SUIT', 'SUIT Variable', sans-serif;
    background-color: #F4F6F8;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
